## Reading tabular data with Pandas

In [2]:
import pandas as pd

In [3]:
oceania_data = pd.read_csv('data/gapminder_gdp_oceania.csv')
print(oceania_data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [4]:
oceania_data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [5]:
africa_data = pd.read_csv('data/gapminder_gdp_africa.csv')
print(africa_data)

                     country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0                    Algeria     2449.008185     3013.976023     2550.816880
1                     Angola     3520.610273     3827.940465     4269.276742
2                      Benin     1062.752200      959.601080      949.499064
3                   Botswana      851.241141      918.232535      983.653976
4               Burkina Faso      543.255241      617.183465      722.512021
5                    Burundi      339.296459      379.564628      355.203227
6                   Cameroon     1172.667655     1313.048099     1399.607441
7   Central African Republic     1071.310713     1190.844328     1193.068753
8                       Chad     1178.665927     1308.495577     1389.817618
9                    Comoros     1102.990936     1211.148548     1406.648278
10           Congo Dem. Rep.      780.542326      905.860230      896.314634
11                Congo Rep.     2125.621418     2315.056572     2464.783157
12             Cote d'Ivoire     1388.594732     1500.895925     1728.869428
13                  Djibouti     2669.529475     2864.969076     3020.989263
14                     Egypt     1418.822445     1458.915272     1693.335853
15         Equatorial Guinea      375.643123      426.096408      582.841971
16                   Eritrea      328.940557      344.161886      380.995843
17                  Ethiopia      362.146280      378.904163      419.456416
18                     Gabon     4293.476475     4976.198099     6631.459222
19                    Gambia      485.230659      520.926711      599.650276
20                     Ghana      911.298937     1043.561537     1190.041118
21                    Guinea      510.196492      576.267025      686.373674
22             Guinea-Bissau      299.850319      431.790457      522.034373
23                     Kenya      853.540919      944.438315      896.966373
24                   Lesotho      298.846212      335.997115      411.800627
25                   Liberia      575.572996      620.969990      634.195163
26                     Libya     2387.548060     3448.284395     6757.030816
27                Madagascar     1443.011715     1589.202750     1643.387110
28                    Malawi      369.165080      416.369806      427.901086
29                      Mali      452.336981      490.382187      496.174343
30                Mauritania      743.115910      846.120261     1055.896036
31                 Mauritius     1967.955707     2034.037981     2529.067487
32                   Morocco     1688.203570     1642.002314     1566.353493
33                Mozambique      468.526038      495.586833      556.686354
34                   Namibia     2423.780443     2621.448058     3173.215595
35                     Niger      761.879376      835.523403      997.766113
36                   Nigeria     1077.281856     1100.592563     1150.927478
37                   Reunion     2718.885295     2769.451844     3173.723340
38                    Rwanda      493.323875      540.289398      597.473073
39     Sao Tome and Principe      879.583586      860.736903     1071.551119
40                   Senegal     1450.356983     1567.653006     1654.988723
41              Sierra Leone      879.787736     1004.484437     1116.639877
42                   Somalia     1135.749842     1258.147413     1369.488336
43              South Africa     4725.295531     5487.104219     5768.729717
44                     Sudan     1615.991129     1770.337074     1959.593767
45                 Swaziland     1148.376626     1244.708364     1856.182125
46                  Tanzania      716.650072      698.535607      722.003807
47                      Togo      859.808657      925.908320     1067.534810
48                   Tunisia     1468.475631     1395.232468     1660.303210
49                    Uganda      734.753484      774.371069      767.271740
50                    Zambia     1147.388831     1311.956766     1452.725766
51                  Zimbabwe      406.884115      518.764268      527.272182

    gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0      3246.991771     4182.663766     4910.416756     5745.160213
1      5522.776375     5473.288005     3008.647355     2756.953672
2      1035.831411     1085.796879     1029.161251     1277.897616
3      1214.709294     2263.611114     3214.857818     4551.142150
4       794.826560      854.735976      743.387037      807.198586
5       412.977514      464.099504      556.103265      559.603231
6      1508.453148     1684.146528     1783.432873     2367.983282
7      1136.056615     1070.013275     1109.374338      956.752991
8      1196.810565     1104.103987     1133.984950      797.908101
9      1876.029643     1937.577675     1172.603047     1267.100083
10      861.593242      904.896069      795.757282      673.747818
11     2677.939642     3213.152683     3259.178978     4879.507522
12     2052.050473     2378.201111     2517.736547     2602.710169
13     3020.050513     3694.212352     3081.761022     2879.468067
14     1814.880728     2024.008147     2785.493582     3503.729636
15      915.596003      672.412257      958.566812      927.825343
16      468.794970      514.324208      505.753808      524.875849
17      516.118644      566.243944      556.808383      577.860747
18     8358.761987    11401.948410    21745.573280    15113.361940
19      734.782912      756.086836      884.755251      835.809611
20     1125.697160     1178.223708      993.223957      876.032569
21      708.759541      741.666231      874.685864      857.250358
22      715.580640      820.224588      764.725963      838.123967
23     1056.736457     1222.359968     1267.613204     1348.225791
24      498.639026      496.581592      745.369541      797.263107
25      713.603648      803.005454      640.322438      572.199569
26    18772.751690    21011.497210    21951.211760    17364.275380
27     1634.047282     1748.562982     1544.228586     1302.878658
28      495.514781      584.621971      663.223677      632.803921
29      545.009887      581.368876      686.395269      618.014064
30     1421.145193     1586.851781     1497.492223     1481.150189
31     2475.387562     2575.484158     3710.982963     3688.037739
32     1711.044770     1930.194975     2370.619976     2702.620356
33      566.669154      724.917804      502.319733      462.211415
34     3793.694753     3746.080948     3876.485958     4191.100511
35     1054.384891      954.209236      808.897073      909.722135
36     1014.514104     1698.388838     1981.951806     1576.973750
37     4021.175739     5047.658563     4319.804067     5267.219353
38      510.963714      590.580664      670.080601      881.570647
39     1384.840593     1532.985254     1737.561657     1890.218117
40     1612.404632     1597.712056     1561.769116     1518.479984
41     1206.043465     1353.759762     1348.285159     1465.010784
42     1284.733180     1254.576127     1450.992513     1176.807031
43     7114.477971     7765.962636     8028.651439     8568.266228
44     1687.997641     1659.652775     2202.988423     1895.544073
45     2613.101665     3364.836625     3781.410618     3895.384018
46      848.218657      915.985059      962.492293      874.242607
47     1477.596760     1649.660188     1532.776998     1344.577953
48     1932.360167     2753.285994     3120.876811     3560.233174
49      908.918522      950.735869      843.733137      682.266227
50     1777.077318     1773.498265     1588.688299     1408.678565
51      569.795071      799.362176      685.587682      788.855041

    gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0      5681.358539     5023.216647     4797.295051     5288.040382
1      2430.208311     2627.845685     2277.140884     2773.287312
2      1225.856010     1191.207681     1232.975292     1372.877931
3      6205.883850     7954.111645     8647.142313    11003.605080
4       912.063142      931.752773      946.294962     1037.645221
5       621.818819      631.699878      463.115148      446.403513
6      2602.664206     1793.163278     1694.337469     1934.011449
7       844.876350      747.905525      740.506332      738.690607
8       952.386129     1058.064300     1004.961353     1156.181860
9      1315.980812     1246.907370     1173.618235     1075.811558
10      672.774812      457.719181      312.188423      241.165877
11     4201.194937     4016.239529     3484.164376     3484.061970
12     2156.956069     1648.073791     1786.265407     1648.800823
13     2880.102568     2377.156192     1895.016984     1908.260867
14     3885.460710     3794.755195     4173.181797     4754.604414
15      966.896815     1132.055034     2814.480755     7703.495900
16      521.134133      582.858510      913.470790      765.350001
17      573.741314      421.353465      515.889401      530.053532
18    11864.408440    13522.157520    14722.841880    12521.713920
19      611.658861      665.624413      653.730170      660.585600
20      847.006113      925.060154     1005.245812     1111.984578
21      805.572472      794.348438      869.449767      945.583584
22      736.415392      745.539871      796.664468      575.704718
23     1361.936856     1341.921721     1360.485021     1287.514732
24      773.993214      977.486272     1186.147994     1275.184575
25      506.113857      636.622919      609.173951      531.482368
26    11770.589800     9640.138501     9467.446056     9534.677467
27     1155.441948     1040.676190      986.295896      894.637082
28      635.517363      563.200014      692.275810      665.423119
29      684.171558      739.014375      790.257985      951.409752
30     1421.603576     1361.369784     1483.136136     1579.019543
31     4783.586903     6058.253846     7425.705295     9021.815894
32     2755.046991     2948.047252     2982.101858     3258.495584
33      389.876185      410.896824      472.346077      633.617947
34     3693.731337     3804.537999     3899.524260     4072.324751
35      668.300023      581.182725      580.305209      601.074501
36     1385.029563     1619.848217     1624.941275     1615.286395
37     5303.377488     6101.255823     6071.941411     6316.165200
38      847.991217      737.068595      589.944505      785.653765
39     1516.525457     1428.777814     1339.076036     1353.092390
40     1441.720720     1367.899369     1392.368347     1519.635262
41     1294.447788     1068.696278      574.648158      699.489713
42     1093.244963      926.960296      930.596428      882.081822
43     7825.823398     7225.069258     7479.188244     7710.946444
44     1507.819159     1492.197043     1632.210764     1993.398314
45     3984.839812     3553.022400     3876.768460     4128.116943
46      831.822079      825.682454      789.186223      899.074211
47     1202.201361     1034.298904      982.286924      886.220577
48     3810.419296     4332.720164     4876.798614     5722.895655
49      617.724406      644.170797      816.559081      927.721002
50     1213.315116     1210.884633     1071.353818     1071.613938
51      706.157306      693.420786      792.449960      672.038623

    gdpPercap_2007
0      6223.367465
1      4797.231267
2      1441.284873
3     12569.851770
4      1217.032994
5       430.070692
6      2042.095240
7       706.016537
8      1704.063724
9       986.147879
10      277.551859
11     3632.557798
12     1544.750112
13     2082.481567
14     5581.180998
15    12154.089750
16      641.369524
17      690.805576
18    13206.484520
19      752.749726
20     1327.608910
21      942.654211
22      579.231743
23     1463.249282
24     1569.331442
25      414.507341
26    12057.499280
27     1044.770126
28      759.349910
29     1042.581557
30     1803.151496
31    10956.991120
32     3820.175230
33      823.685621
34     4811.060429
35      619.676892
36     2013.977305
37     7670.122558
38      863.088464
39     1598.435089
40     1712.472136
41      862.540756
42      926.141068
43     9269.657808
44     2602.394995
45     4513.480643
46     1107.482182
47      882.969944
48     7092.923025
49     1056.380121
50     1271.211593
51      469.709298

In [6]:
africa_data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994
5,Burundi,339.296459,379.564628,355.203227,412.977514,464.099504,556.103265,559.603231,621.818819,631.699878,463.115148,446.403513,430.070692
6,Cameroon,1172.667655,1313.048099,1399.607441,1508.453148,1684.146528,1783.432873,2367.983282,2602.664206,1793.163278,1694.337469,1934.011449,2042.095240
7,Central African Republic,1071.310713,1190.844328,1193.068753,1136.056615,1070.013275,1109.374338,956.752991,844.876350,747.905525,740.506332,738.690607,706.016537
8,Chad,1178.665927,1308.495577,1389.817618,1196.810565,1104.103987,1133.984950,797.908101,952.386129,1058.064300,1004.961353,1156.181860,1704.063724
9,Comoros,1102.990936,1211.148548,1406.648278,1876.029643,1937.577675,1172.603047,1267.100083,1315.980812,1246.907370,1173.618235,1075.811558,986.147879
10,Congo Dem. Rep.,780.542326,905.860230,896.314634,861.593242,904.896069,795.757282,673.747818,672.774812,457.719181,312.188423,241.165877,277.551859
11,Congo Rep.,2125.621418,2315.056572,2464.783157,2677.939642,3213.152683,3259.178978,4879.507522,4201.194937,4016.239529,3484.164376,3484.061970,3632.557798
12,Cote d'Ivoire,1388.594732,1500.895925,1728.869428,2052.050473,2378.201111,2517.736547,2602.710169,2156.956069,1648.073791,1786.265407,1648.800823,1544.750112
13,Djibouti,2669.529475,2864.969076,3020.989263,3020.050513,3694.212352,3081.761022,2879.468067,2880.102568,2377.156192,1895.016984,1908.260867,2082.481567
14,Egypt,1418.822445,1458.915272,1693.335853,1814.880728,2024.008147,2785.493582,3503.729636,3885.460710,3794.755195,4173.181797,4754.604414,5581.180998
15,Equatorial Guinea,375.643123,426.096408,582.841971,915.596003,672.412257,958.566812,927.825343,966.896815,1132.055034,2814.480755,7703.495900,12154.089750
16,Eritrea,328.940557,344.161886,380.995843,468.794970,514.324208,505.753808,524.875849,521.134133,582.858510,913.470790,765.350001,641.369524
17,Ethiopia,362.146280,378.904163,419.456416,516.118644,566.243944,556.808383,577.860747,573.741314,421.353465,515.889401,530.053532,690.805576
18,Gabon,4293.476475,4976.198099,6631.459222,8358.761987,11401.948410,21745.573280,15113.361940,11864.408440,13522.157520,14722.841880,12521.713920,13206.484520
19,Gambia,485.230659,520.926711,599.650276,734.782912,756.086836,884.755251,835.809611,611.658861,665.624413,653.730170,660.585600,752.749726
20,Ghana,911.298937,1043.561537,1190.041118,1125.697160,1178.223708,993.223957,876.032569,847.006113,925.060154,1005.245812,1111.984578,1327.608910
21,Guinea,510.196492,576.267025,686.373674,708.759541,741.666231,874.685864,857.250358,805.572472,794.348438,869.449767,945.583584,942.654211
22,Guinea-Bissau,299.850319,431.790457,522.034373,715.580640,820.224588,764.725963,838.123967,736.415392,745.539871,796.664468,575.704718,579.231743
23,Kenya,853.540919,944.438315,896.966373,1056.736457,1222.359968,1267.613204,1348.225791,1361.936856,1341.921721,1360.485021,1287.514732,1463.249282
24,Lesotho,298.846212,335.997115,411.800627,498.639026,496.581592,745.369541,797.263107,773.993214,977.486272,1186.147994,1275.184575,1569.331442
25,Liberia,575.572996,620.969990,634.195163,713.603648,803.005454,640.322438,572.199569,506.113857,636.622919,609.173951,531.482368,414.507341
26,Libya,2387.548060,3448.284395,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11770.589800,9640.138501,9467.446056,9534.677467,12057.499280
27,Madagascar,1443.011715,1589.202750,1643.387110,1634.047282,1748.562982,1544.228586,1302.878658,1155.441948,1040.676190,986.295896,894.637082,1044.770126
28,Malawi,369.165080,416.369806,427.901086,495.514781,584.621971,663.223677,632.803921,635.517363,563.200014,692.275810,665.423119,759.349910
29,Mali,452.336981,490.382187,496.174343,545.009887,581.368876,686.395269,618.014064,684.171558,739.014375,790.257985,951.409752,1042.581557
30,Mauritania,743.115910,846.120261,1055.896036,1421.145193,1586.851781,1497.492223,1481.150189,1421.603576,1361.369784,1483.136136,1579.019543,1803.151496
31,Mauritius,1967.955707,2034.037981,2529.067487,2475.387562,2575.484158,3710.982963,3688.037739,4783.586903,6058.253846,7425.705295,9021.815894,10956.991120
32,Morocco,1688.203570,1642.002314,1566.353493,1711.044770,1930.194975,2370.619976,2702.620356,2755.046991,2948.047252,2982.101858,3258.495584,3820.175230
33,Mozambique,468.526038,495.586833,556.686354,566.669154,724.917804,502.319733,462.211415,389.876185,410.896824,472.346077,633.617947,823.685621
34,Namibia,2423.780443,2621.448058,3173.215595,3793.694753,3746.080948,3876.485958,4191.100511,3693.731337,3804.537999,3899.524260,4072.324751,4811.060429
35,Niger,761.879376,835.523403,997.766113,1054.384891,954.209236,808.897073,909.722135,668.300023,581.182725,580.305209,601.074501,619.676892
36,Nigeria,1077.281856,1100.592563,1150.927478,1014.514104,1698.388838,1981.951806,1576.973750,1385.029563,1619.848217,1624.941275,1615.286395,2013.977305
37,Reunion,2718.885295,2769.451844,3173.723340,4021.175739,5047.658563,4319.804067,5267.219353,5303.377488,6101.255823,6071.941411,6316.165200,7670.122558
38,Rwanda,493.323875,540.289398,597.473073,510.963714,590.580664,670.080601,881.570647,847.991217,737.068595,589.944505,785.653765,863.088464
39,Sao Tome and Principe,879.583586,860.736903,1071.551119,1384.840593,1532.985254,1737.561657,1890.218117,1516.525457,1428.777814,1339.076036,1353.092390,1598.435089
40,Senegal,1450.356983,1567.653006,1654.988723,1612.404632,1597.712056,1561.769116,1518.479984,1441.720720,1367.899369,1392.368347,1519.635262,1712.472136
41,Sierra Leone,879.787736,1004.484437,1116.639877,1206.043465,1353.759762,1348.285159,1465.010784,1294.447788,1068.696278,574.648158,699.489713,862.540756
42,Somalia,1135.749842,1258.147413,1369.488336,1284.733180,1254.576127,1450.992513,1176.807031,1093.244963,926.960296,930.596428,882.081822,926.141068
43,South Africa,4725.295531,5487.104219,5768.729717,7114.477971,7765.962636,8028.651439,8568.266228,7825.823398,7225.069258,7479.188244,7710.946444,9269.657808
44,Sudan,1615.991129,1770.337074,1959.593767,1687.997641,1659.652775,2202.988423,1895.544073,1507.819159,1492.197043,1632.210764,1993.398314,2602.394995
45,Swaziland,1148.376626,1244.708364,1856.182125,2613.101665,3364.836625,3781.410618,3895.384018,3984.839812,3553.022400,3876.768460,4128.116943,4513.480643
46,Tanzania,716.650072,698.535607,722.003807,848.218657,915.985059,962.492293,874.242607,831.822079,825.682454,789.186223,899.074211,1107.482182
47,Togo,859.808657,925.908320,1067.534810,1477.596760,1649.660188,1532.776998,1344.577953,1202.201361,1034.298904,982.286924,886.220577,882.969944
48,Tunisia,1468.475631,1395.232468,1660.303210,1932.360167,2753.285994,3120.876811,3560.233174,3810.419296,4332.720164,4876.798614,5722.895655,7092.923025
49,Uganda,734.753484,774.371069,767.271740,908.918522,950.735869,843.733137,682.266227,617.724406,644.170797,816.559081,927.721002,1056.380121
50,Zambia,1147.388831,1311.956766,1452.725766,1777.077318,1773.498265,1588.688299,1408.678565,1213.315116,1210.884633,1071.353818,1071.613938,1271.211593
51,Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [9]:
oceania_data = pd.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')
oceania_data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [11]:
oceania_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [19]:
africa_data = pd.read_csv('data/gapminder_gdp_africa.csv', index_col='country')
africa_data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

.describe method gives some statistical info

In [13]:
oceania_data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [14]:
# Transopse is an ** attribute **
oceania_data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [15]:
print(type(oceania_data), type(oceania_data.T))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [17]:
# describe is a ** method **
oceania_data.T.describe()

country     Australia   New Zealand
count       12.000000     12.000000
mean     19980.595634  17262.622813
std       7815.405220   4409.009167
min      10039.595640  10556.575660
25%      13948.900203  14141.858698
50%      18905.603395  16933.064050
75%      24318.059265  19517.996910
max      34435.367440  25185.009110

In [20]:
africa_data.T.describe()

country,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cameroon,Central African Republic,Chad,Comoros,...,Somalia,South Africa,Sudan,Swaziland,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,4426.025973,3607.100529,1155.395107,5031.503557,843.990665,471.662990,1774.634222,958.784697,1165.453674,1314.380339,...,1140.793252,7247.431074,1835.010430,3163.352358,849.281271,1153.820116,3477.210351,810.383788,1358.199409,635.858042
std,1310.337656,1165.900251,159.741306,4178.136987,183.430087,99.329720,419.589901,191.952888,230.548080,298.334389,...,191.277984,1313.597935,321.753285,1159.957605,116.003668,280.832573,1799.837032,133.100900,247.494984,133.689213
min,2449.008185,2277.140884,949.499064,851.241141,543.255241,339.296459,1172.667655,706.016537,797.908101,986.147879,...,882.081822,4725.295531,1492.197043,1148.376626,698.535607,859.808657,1395.232468,617.724406,1071.353818,406.884115
25%,3188.737834,2724.676675,1034.163871,1156.945465,738.168283,404.624292,1481.241721,746.055727,1044.788563,1155.200019,...,929.687395,6778.040907,1628.155855,2423.871780,772.390619,915.986384,1864.345928,721.631670,1195.010683,525.145203
50%,4853.855903,3264.628814,1138.502280,3882.999984,830.967281,454.759330,1738.885171,1013.383133,1145.083405,1229.027959,...,1156.278436,7595.067344,1729.167357,3667.216509,840.020368,1050.916857,3340.554993,795.465075,1291.584180,678.813152
75%,5386.369921,4401.265373,1244.205873,8127.369312,935.388320,556.978257,1961.032397,1116.044907,1224.731818,1338.647678,...,1264.793855,7876.530408,1968.044904,3917.747967,903.301923,1377.832655,4468.739777,913.619142,1486.716399,726.831740
max,6223.367465,5522.776375,1441.284873,12569.851770,1217.032994,631.699878,2602.664206,1193.068753,1704.063724,1937.577675,...,1450.992513,9269.657808,2602.394995,4513.480643,1107.482182,1649.660188,7092.923025,1056.380121,1777.077318,799.362176

In [22]:
oceania_data.loc["Australia", "gdpPercap_1952"]

In [27]:
oceania_data.iloc[0, 0:5]

gdpPercap_1952    10039.59564
gdpPercap_1957    10949.64959
gdpPercap_1962    12217.22686
gdpPercap_1967    14526.12465
gdpPercap_1972    16788.62948
Name: Australia, dtype: float64

In [25]:
oceania_data.loc["Australia", "gdpPercap_1952":"gdpPercap_1972"]

gdpPercap_1952    10039.59564
gdpPercap_1957    10949.64959
gdpPercap_1962    12217.22686
gdpPercap_1967    14526.12465
gdpPercap_1972    16788.62948
Name: Australia, dtype: float64

In [28]:
oceania_data.loc[:, "gdpPercap_1952":"gdpPercap_1972"]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972
country,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728